extends ../layout

block content
    .page-header
        h2 #{pregunta.pregunta}
        small !{pregunta.descripcion}
    .col-md-11.col-centered
        form(role="form", method="post")
            input(type="hidden", name="pregunta", value="#{pregunta.id}")
            - for (var i = 0; i < pregunta.respuestas.length; i++)
                .list-group
                    a.list-group-item(href="#",for="respuesta_#{i}")
                        input(type="radio", name="respuesta", value="#{i}", id="respuesta_#{i}", required)
                        label(for="respuesta_#{i}") #{pregunta.respuestas[i]}
            button.btn.btn-lg.btn-success Siguiente